body{
    padding: 0%;
    margin: 0;
  
  }
  #logo2{
     width: 150px;
  
  }
  
  #container3{
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%),url(  https://assets.nflxext.com/ffe/siteui/vlv3/2e07bc25-8b8f-4531-8e1f-7e5e33938793/921f74cf-01f9-40dd-807c-e49dcc39f496/BR-pt-20240219-popsignuptwoweeks-perspective_alpha_website_small.jpg);
      background-size: 120%;
      height: 600px;
      padding: 70px;
  }
  #filhas-enter{
      
          display: flex;
          flex-direction: column;
          padding: 20px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          background: rgb(142,1,72);
      background: linear-gradient(90deg, rgba(142,1,72,1) 0%, rgba(23,0,40,1) 30%);
          color: rgb(255, 255, 255);
          width: 450px;
          height: 500px;
        transition: all 200ms linear;
        font-size: 8px;
        align-items: row;
        margin: 15px auto; 
        gap: 40px;       
  }
  #input2{
   height: 55px;
   }    
   #password{
     height: 55px;
      
   }
  
  
  
  